body {
    background-color: black;
    background-image: url(imagenes/imagen-Blog.jpg);
    font-size: xx-large;
    /*tamaño de la fuente*/
    font-family: Georgia;
    font-weight: bold;
    /*ancho de los caracteres*/
}

.btn {
    background-color: chocolate;
    font-weight: bold;
    font-family: fantasy;
}

#main-nav a {
    line-height: 50%;
    font-weight: bold;
    color: #fff;
    display: block;
    padding: 14px 9px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}

#contenedor {
    font-size: medium;
}

#posteos {
    font-size: large;
    font-family: Georgia;
    color: firebrick;
}

#log {
    font-size: xx-large;
    font-family: Georgia;
    color: black;
}

div {
    color: white;
}

h2 {
    color: white;
}