body {
  margin: 0 auto;
  background-color: #D3D3D3;
}

h2{
  font: small-caps 200%/280% Georgia;
}
h3{
  font: small-caps 150%/280% Georgia;
}

h4{
  font-family: Georgia, Cambria, Times, "Times New Roman";
}

.table-hover>tbody>tr:hover {
      background-color: #8387F1;
      border-radius: 0px ;
}
.table-hover>tbody>tr>td {
     
       border-radius: 0px ;
}
 .btn{
      box-shadow: 3px 2px 5px #000000;   
  }


#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #FFFFFF;
    padding: 10px;
    z-index: 1;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}


input[type="text"]{
  width:100%;
  background:#fff;
  margin-bottom:1%;
  border:2px solid #ccc;
  padding:1%;
  font-family: Georgia, "Times New Roman", Times, serif; 
  font-weight: 800;
  color:#555;
}


